tmp*
listaPortali.csv
listaPagineNewsMese.tsv
listaPagineNews.tsv
listaNotizieDate.tsv
RSSdate.tsv
listaNotizieDate.tsv
listaNotizieDate.tsv
config
feed.xml
RSS.tsv
data/*
risorse/*
RSSarchive.tsv
process/*
nota.txt
